In [1]:
import data_utils_v2 as data_utils

df = data_utils.get_dataset()

In [2]:
dataset = df.copy()
dataset = data_utils.clean_afec_dpto(dataset)
dataset.head()

,AFEC_DPTO,AFEC_EDADR,AFEC_EDUC,AFEC_GENERO,AFEC_GETNICO,AFEC_MPIO,AFEC_PARENTESCO,AFEC_POBESPECIAL,AFEC_REGAFILIACION,AFEC_TIPOPER,...,PET_MPIO,PET_TIPOPER,PQR_CANAL,PQR_CLASE_SNS,PQR_ESTADO,PQR_GRUPOALERTA,PQR_TIPOATENCION,PQR_TIPOPETICION,RIESGO_VIDA,TRIM
0,bogota d.c,de 13 a 17 años,ninguno,mujer,no aplica,bogotá,otro,no aplica,subsidiado,natural,...,bogotá,juridica,escrito,pqr,cerrado,NaN,peticion directa,reclamo,no,trim i
1,nariño,de 0 a 5 años,ninguno,hombre,no aplica,puerres,otro,no aplica,subsidiado,natural,...,puerres,natural,telefonico,pqr,cerrado,NaN,NaN,reclamo,no,trim i
2,valle,de 13 a 17 años,secundaria,hombre,no aplica,cali,abuelo (a),no aplica,contributivo,natural,...,cali,natural,telefonico,pqr,cerrado,NaN,NaN,reclamo,no,trim i
3,huila,de 13 a 17 años,universitario incompleto,hombre,no aplica,neiva,padre,no aplica,contributivo,natural,...,neiva,natural,personalizado,pqr,cerrado,NaN,NaN,reclamo,no,trim i
4,risaralda,de 13 a 17 años,ninguno,hombre,no aplica,dosquebradas,padre,persona en condición de discapacidad,contributivo,natural,...,dosquebradas,natural,personalizado,pqr,pendiente (avance),NaN,NaN,reclamo,si,trim i

In [3]:
dataset[['AFEC_DPTO', 'ENT_DPTO', 'ENT_COD_DEPTO', 'PET_DPTO', 'PET_COD_DEPTO']].head()

    AFEC_DPTO   ENT_DPTO ENT_COD_DEPTO     PET_DPTO PET_COD_DEPTO
0  bogota d.c    quindio            63  bogota d.c.            11
1      nariño     nariño            52       nariño            52
2       valle      valle            76        valle            76
3       huila      huila            41        huila            41
4   risaralda  risaralda            66    risaralda            66

In [14]:
dataset[dataset['AFEC_MPIO'] == 'gsican'][['AFEC_DPTO', 'AFEC_MPIO', 'ENT_DPTO', 'ENT_COD_DEPTO', 'ENT_MPIO', 'PET_COD_DEPTO']]

      AFEC_DPTO AFEC_MPIO ENT_DPTO ENT_COD_DEPTO ENT_MPIO PET_COD_DEPTO
85747    boyaca    gsican   boyaca            15   güicán            15

In [19]:
import numpy as np
codes = dataset[['ENT_COD_DEPTO', 'ENT_MPIO']].drop_duplicates().to_dict('records')
codes
codes_depto = {}
for code in codes:
    #print(f"key: {code['ENT_MPIO']}, value: {code['ENT_COD_DEPTO']}")
    codes_depto[code['ENT_MPIO']] = code['ENT_COD_DEPTO']

In [22]:
dataset['AFEC_COD_DPTO'] = dataset['AFEC_MPIO'].apply(lambda value: codes_depto.get(value, '999'))

dataset[['AFEC_DPTO', 'AFEC_COD_DPTO', 'ENT_DPTO', 'ENT_COD_DEPTO', 'PET_DPTO', 'PET_COD_DEPTO']].head()

,AFEC_DPTO,AFEC_COD_DPTO,ENT_DPTO,ENT_COD_DEPTO,PET_DPTO,PET_COD_DEPTO
0,bogota d.c,11,quindio,63,bogota d.c.,11
1,nariño,52,nariño,52,nariño,52
2,valle,76,valle,76,valle,76
3,huila,41,huila,41,huila,41
4,risaralda,66,risaralda,66,risaralda,66

In [ ]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
for column in dataset.columns:
    print(column)
    le.fit(dataset[column])
    dataset[column] = le.transform(dataset[column]) 

dataset.head()

In [ ]:
set(dataset.columns[dataset.isnull().mean() > 0])